table, th, td {
    border: 1px solid black;
  }

  .boxes {
    display: contents;
    width: 540px;
    grid-template-columns: 120px 120px 120px;
    align-items: center;
    justify-content: space-between;
  }
  
  .boxThree {

  }
