table, th, td {
    border: 1px solid black;
  }
  
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    margin: auto;
    
  }
  
  .boxOne, .boxTwo, .boxFour {
    width: 100%
    margin: 40px;
    
  }

  .boxThree {
    
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
 